In [1]:
#Generic Libraries
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
#Data Split Libraries
import sklearn
from sklearn.model_selection import train_test_split
#Tabulating Data
from tabulate import tabulate
#Garbage
import gc

In [2]:

#Apache Spark Libraries
import pyspark
from pyspark.sql import SparkSession
#Apache Spark ML CLassifier Libraries
from pyspark.ml.classification import DecisionTreeClassifier,RandomForestClassifier,NaiveBayes
#Apache Spark Evaluation Library
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
#Apache Spark Features libraries
from pyspark.ml.feature import StandardScaler,StringIndexer, VectorAssembler, VectorIndexer, OneHotEncoder

#Apache Spark Pipelin Library
from pyspark.ml import Pipeline
# Apache Spark `DenseVector`
from pyspark.ml.linalg import DenseVector

In [3]:
#import pyspark

In [4]:
#from pyspark.sql import SparkSession

In [5]:
import cml.data_v1 as cmldata

# Sample in-code customization of spark configurations
#from pyspark import SparkContext
#SparkContext.setSystemProperty('spark.executor.cores', '1')
#SparkContext.setSystemProperty('spark.executor.memory', '2g')

CONNECTION_NAME = "jqrhv9chljtm"
conn = cmldata.get_connection(CONNECTION_NAME)
spark = conn.get_spark_session()

# Sample usage to run query through spark
EXAMPLE_SQL_QUERY = "show databases"
spark.sql(EXAMPLE_SQL_QUERY).show()

Setting spark.hadoop.yarn.resourcemanager.principal to csso_jprosser

Spark Application Id:spark-application-1727206986973

Hive Session ID = ba851a6d-3e37-4bda-a1a1-ae7d06affc6a

+------------------+
|         namespace|
+------------------+
|           default|
|information_schema|
|               sys|
+------------------+

In [6]:
##spark = SparkSession.builder.appName("Practice_1").getOrCreate()

In [7]:
from pyspark.sql.types import StructType,StructField, StringType, IntegerType

In [8]:
data_frame = [("Ahmed","","AlHashmi","201210044","Male",20000),
    ("Mariam","Hasan","Almenhali","201455411","Female",42000),
    ("Amna","Salem","Alameri","202010222","Female",16000),
    ("Zayed","Ali","AlZaabi","201788695","Male",26300),
    ("Maitha","Saeed","Alhosani","204974582","Female",""),
    ("Shatha","Abdalqader","Alharthi","201788695","Female",70600),
    ("Abdulla","Said","Almessabi","2011425698","Male",50300),
    ("Layala","Hamad","AlShamsi","","Female",38300)
  ]

In [9]:
schema = StructType([ \
    StructField("firstname",StringType(),True), \
    StructField("middlename",StringType(),True), \
    StructField("lastname",StringType(),True), \
    StructField("id", StringType(), True), \
    StructField("gender", StringType(), True), \
    StructField("salary", StringType(), True) \
  ])

In [10]:
df = spark.createDataFrame(data=data_frame,schema=schema)
df.printSchema()
df.show(truncate=False)

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)

+---------+----------+---------+----------+------+------+
|firstname|middlename|lastname |id        |gender|salary|
+---------+----------+---------+----------+------+------+
|Ahmed    |          |AlHashmi |201210044 |Male  |20000 |
|Mariam   |Hasan     |Almenhali|201455411 |Female|42000 |
|Amna     |Salem     |Alameri  |202010222 |Female|16000 |
|Zayed    |Ali       |AlZaabi  |201788695 |Male  |26300 |
|Maitha   |Saeed     |Alhosani |204974582 |Female|      |
|Shatha   |Abdalqader|Alharthi |201788695 |Female|70600 |
|Abdulla  |Said      |Almessabi|2011425698|Male  |50300 |
|Layala   |Hamad     |AlShamsi |          |Female|38300 |
+---------+----------+---------+----------+------+------+

In [11]:
df.filter(df.firstname.startswith("A")).show()

+---------+----------+---------+----------+------+------+
|firstname|middlename| lastname|        id|gender|salary|
+---------+----------+---------+----------+------+------+
|    Ahmed|          | AlHashmi| 201210044|  Male| 20000|
|     Amna|     Salem|  Alameri| 202010222|Female| 16000|
|  Abdulla|      Said|Almessabi|2011425698|  Male| 50300|
+---------+----------+---------+----------+------+------+

In [12]:
df.filter(df.id.endswith("2")).show()

+---------+----------+--------+---------+------+------+
|firstname|middlename|lastname|       id|gender|salary|
+---------+----------+--------+---------+------+------+
|     Amna|     Salem| Alameri|202010222|Female| 16000|
|   Maitha|     Saeed|Alhosani|204974582|Female|      |
+---------+----------+--------+---------+------+------+

In [13]:
df.filter(df.lastname.contains("m")).show()

+---------+----------+---------+----------+------+------+
|firstname|middlename| lastname|        id|gender|salary|
+---------+----------+---------+----------+------+------+
|    Ahmed|          | AlHashmi| 201210044|  Male| 20000|
|   Mariam|     Hasan|Almenhali| 201455411|Female| 42000|
|     Amna|     Salem|  Alameri| 202010222|Female| 16000|
|  Abdulla|      Said|Almessabi|2011425698|  Male| 50300|
|   Layala|     Hamad| AlShamsi|          |Female| 38300|
+---------+----------+---------+----------+------+------+

In [14]:
from pyspark.sql.functions import col,lit 
df.withColumn("Nationality", lit("UAE")).show()

+---------+----------+---------+----------+------+------+-----------+
|firstname|middlename| lastname|        id|gender|salary|Nationality|
+---------+----------+---------+----------+------+------+-----------+
|    Ahmed|          | AlHashmi| 201210044|  Male| 20000|        UAE|
|   Mariam|     Hasan|Almenhali| 201455411|Female| 42000|        UAE|
|     Amna|     Salem|  Alameri| 202010222|Female| 16000|        UAE|
|    Zayed|       Ali|  AlZaabi| 201788695|  Male| 26300|        UAE|
|   Maitha|     Saeed| Alhosani| 204974582|Female|      |        UAE|
|   Shatha|Abdalqader| Alharthi| 201788695|Female| 70600|        UAE|
|  Abdulla|      Said|Almessabi|2011425698|  Male| 50300|        UAE|
|   Layala|     Hamad| AlShamsi|          |Female| 38300|        UAE|
+---------+----------+---------+----------+------+------+-----------+

In [15]:
newRow = spark.createDataFrame([("Khaled","Ali","Almasood","201652447","Male",36944)])
new_df = df.union(newRow)
new_df.show()

+---------+----------+---------+----------+------+------+
|firstname|middlename| lastname|        id|gender|salary|
+---------+----------+---------+----------+------+------+
|    Ahmed|          | AlHashmi| 201210044|  Male| 20000|
|   Mariam|     Hasan|Almenhali| 201455411|Female| 42000|
|     Amna|     Salem|  Alameri| 202010222|Female| 16000|
|    Zayed|       Ali|  AlZaabi| 201788695|  Male| 26300|
|   Maitha|     Saeed| Alhosani| 204974582|Female|      |
|   Shatha|Abdalqader| Alharthi| 201788695|Female| 70600|
|  Abdulla|      Said|Almessabi|2011425698|  Male| 50300|
|   Layala|     Hamad| AlShamsi|          |Female| 38300|
|   Khaled|       Ali| Almasood| 201652447|  Male| 36944|
+---------+----------+---------+----------+------+------+

In [16]:
newRow = spark.createDataFrame([("Reem","Buthaina","Zayed","202499999","Female",10000)])
new_df = new_df.union(newRow)
new_df.show()

+---------+----------+---------+----------+------+------+
|firstname|middlename| lastname|        id|gender|salary|
+---------+----------+---------+----------+------+------+
|    Ahmed|          | AlHashmi| 201210044|  Male| 20000|
|   Mariam|     Hasan|Almenhali| 201455411|Female| 42000|
|     Amna|     Salem|  Alameri| 202010222|Female| 16000|
|    Zayed|       Ali|  AlZaabi| 201788695|  Male| 26300|
|   Maitha|     Saeed| Alhosani| 204974582|Female|      |
|   Shatha|Abdalqader| Alharthi| 201788695|Female| 70600|
|  Abdulla|      Said|Almessabi|2011425698|  Male| 50300|
|   Layala|     Hamad| AlShamsi|          |Female| 38300|
|   Khaled|       Ali| Almasood| 201652447|  Male| 36944|
|     Reem|  Buthaina|    Zayed| 202499999|Female| 10000|
+---------+----------+---------+----------+------+------+

In [17]:
from pyspark.sql.functions import when
new_df.withColumn("levels",
    when((new_df.salary < 18000), lit("workers"))
     .when ((new_df.salary > 18000) & (new_df.salary <=38000), lit("senior"))             
       .otherwise(lit("executive"))
                 ).show()

+---------+----------+---------+----------+------+------+---------+
|firstname|middlename| lastname|        id|gender|salary|   levels|
+---------+----------+---------+----------+------+------+---------+
|    Ahmed|          | AlHashmi| 201210044|  Male| 20000|   senior|
|   Mariam|     Hasan|Almenhali| 201455411|Female| 42000|executive|
|     Amna|     Salem|  Alameri| 202010222|Female| 16000|  workers|
|    Zayed|       Ali|  AlZaabi| 201788695|  Male| 26300|   senior|
|   Maitha|     Saeed| Alhosani| 204974582|Female|      |executive|
|   Shatha|Abdalqader| Alharthi| 201788695|Female| 70600|executive|
|  Abdulla|      Said|Almessabi|2011425698|  Male| 50300|executive|
|   Layala|     Hamad| AlShamsi|          |Female| 38300|executive|
|   Khaled|       Ali| Almasood| 201652447|  Male| 36944|   senior|
|     Reem|  Buthaina|    Zayed| 202499999|Female| 10000|  workers|
+---------+----------+---------+----------+------+------+---------+

In [18]:
from pyspark.sql.functions import col,isnan,when,count
df2 = new_df.select([count(when(col(c).contains('None') |
                            col(c).contains('NULL') |
                               (col(c) == '') |
                               col(c).isNull() |
                               isnan(c), c
                               )).alias(c)
                    for c in df.columns])
df2.show()

+---------+----------+--------+---+------+------+
|firstname|middlename|lastname| id|gender|salary|
+---------+----------+--------+---+------+------+
|        0|         1|       0|  1|     0|     1|
+---------+----------+--------+---+------+------+

In [19]:
from pyspark.sql.functions import col,when
df2=new_df.select([when(col(c)=="",None).otherwise(col(c)).alias(c) for c in df.columns])
df2.show()

+---------+----------+---------+----------+------+------+
|firstname|middlename| lastname|        id|gender|salary|
+---------+----------+---------+----------+------+------+
|    Ahmed|      null| AlHashmi| 201210044|  Male| 20000|
|   Mariam|     Hasan|Almenhali| 201455411|Female| 42000|
|     Amna|     Salem|  Alameri| 202010222|Female| 16000|
|    Zayed|       Ali|  AlZaabi| 201788695|  Male| 26300|
|   Maitha|     Saeed| Alhosani| 204974582|Female|  null|
|   Shatha|Abdalqader| Alharthi| 201788695|Female| 70600|
|  Abdulla|      Said|Almessabi|2011425698|  Male| 50300|
|   Layala|     Hamad| AlShamsi|      null|Female| 38300|
|   Khaled|       Ali| Almasood| 201652447|  Male| 36944|
|     Reem|  Buthaina|    Zayed| 202499999|Female| 10000|
+---------+----------+---------+----------+------+------+

In [20]:
#delete all missing values from all attributes
df3 = df2.na.drop()
df3.show()

+---------+----------+---------+----------+------+------+
|firstname|middlename| lastname|        id|gender|salary|
+---------+----------+---------+----------+------+------+
|   Mariam|     Hasan|Almenhali| 201455411|Female| 42000|
|     Amna|     Salem|  Alameri| 202010222|Female| 16000|
|    Zayed|       Ali|  AlZaabi| 201788695|  Male| 26300|
|   Shatha|Abdalqader| Alharthi| 201788695|Female| 70600|
|  Abdulla|      Said|Almessabi|2011425698|  Male| 50300|
|   Khaled|       Ali| Almasood| 201652447|  Male| 36944|
|     Reem|  Buthaina|    Zayed| 202499999|Female| 10000|
+---------+----------+---------+----------+------+------+

In [21]:
from pyspark.sql.functions import when
df3.withColumn("levels",
    when((df3.salary < 18000), lit("workers"))
     .when ((df3.salary > 18000) & (df3.salary <=38000), lit("senior"))             
       .otherwise(lit("executive"))
                 ).show()

+---------+----------+---------+----------+------+------+---------+
|firstname|middlename| lastname|        id|gender|salary|   levels|
+---------+----------+---------+----------+------+------+---------+
|   Mariam|     Hasan|Almenhali| 201455411|Female| 42000|executive|
|     Amna|     Salem|  Alameri| 202010222|Female| 16000|  workers|
|    Zayed|       Ali|  AlZaabi| 201788695|  Male| 26300|   senior|
|   Shatha|Abdalqader| Alharthi| 201788695|Female| 70600|executive|
|  Abdulla|      Said|Almessabi|2011425698|  Male| 50300|executive|
|   Khaled|       Ali| Almasood| 201652447|  Male| 36944|   senior|
|     Reem|  Buthaina|    Zayed| 202499999|Female| 10000|  workers|
+---------+----------+---------+----------+------+------+---------+

In [22]:
df3.sort(col("firstname")).show(truncate=False)

+---------+----------+---------+----------+------+------+
|firstname|middlename|lastname |id        |gender|salary|
+---------+----------+---------+----------+------+------+
|Abdulla  |Said      |Almessabi|2011425698|Male  |50300 |
|Amna     |Salem     |Alameri  |202010222 |Female|16000 |
|Khaled   |Ali       |Almasood |201652447 |Male  |36944 |
|Mariam   |Hasan     |Almenhali|201455411 |Female|42000 |
|Reem     |Buthaina  |Zayed    |202499999 |Female|10000 |
|Shatha   |Abdalqader|Alharthi |201788695 |Female|70600 |
|Zayed    |Ali       |AlZaabi  |201788695 |Male  |26300 |
+---------+----------+---------+----------+------+------+

In [23]:
df3.orderBy(col("salary").asc()).show(truncate=False)

+---------+----------+---------+----------+------+------+
|firstname|middlename|lastname |id        |gender|salary|
+---------+----------+---------+----------+------+------+
|Reem     |Buthaina  |Zayed    |202499999 |Female|10000 |
|Amna     |Salem     |Alameri  |202010222 |Female|16000 |
|Zayed    |Ali       |AlZaabi  |201788695 |Male  |26300 |
|Khaled   |Ali       |Almasood |201652447 |Male  |36944 |
|Mariam   |Hasan     |Almenhali|201455411 |Female|42000 |
|Abdulla  |Said      |Almessabi|2011425698|Male  |50300 |
|Shatha   |Abdalqader|Alharthi |201788695 |Female|70600 |
+---------+----------+---------+----------+------+------+

In [24]:
#Sort by Descending (DESC)
df3.sort(col("id").desc()).show(truncate=False)

+---------+----------+---------+----------+------+------+
|firstname|middlename|lastname |id        |gender|salary|
+---------+----------+---------+----------+------+------+
|Reem     |Buthaina  |Zayed    |202499999 |Female|10000 |
|Amna     |Salem     |Alameri  |202010222 |Female|16000 |
|Shatha   |Abdalqader|Alharthi |201788695 |Female|70600 |
|Zayed    |Ali       |AlZaabi  |201788695 |Male  |26300 |
|Khaled   |Ali       |Almasood |201652447 |Male  |36944 |
|Mariam   |Hasan     |Almenhali|201455411 |Female|42000 |
|Abdulla  |Said      |Almessabi|2011425698|Male  |50300 |
+---------+----------+---------+----------+------+------+

In [25]:
#Update Column Based on Condition
from pyspark.sql.functions import when
df3 = df3.withColumn("gender", when(df3.gender == "Male","M")
       .when(df3.gender == "Female","F")
        .otherwise(df2.gender))
df3.show()

+---------+----------+---------+----------+------+------+
|firstname|middlename| lastname|        id|gender|salary|
+---------+----------+---------+----------+------+------+
|   Mariam|     Hasan|Almenhali| 201455411|     F| 42000|
|     Amna|     Salem|  Alameri| 202010222|     F| 16000|
|    Zayed|       Ali|  AlZaabi| 201788695|     M| 26300|
|   Shatha|Abdalqader| Alharthi| 201788695|     F| 70600|
|  Abdulla|      Said|Almessabi|2011425698|     M| 50300|
|   Khaled|       Ali| Almasood| 201652447|     M| 36944|
|     Reem|  Buthaina|    Zayed| 202499999|     F| 10000|
+---------+----------+---------+----------+------+------+

In [26]:
#Practice 2
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Practice2").getOrCreate()

In [27]:
df_pyspark=spark.read.csv("/home/cdsw/Loan_Default.csv",header=True,inferSchema=True)

In [28]:
df_pyspark.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- loan_limit: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- approv_in_adv: string (nullable = true)
 |-- loan_type: string (nullable = true)
 |-- loan_purpose: string (nullable = true)
 |-- Credit_Worthiness: string (nullable = true)
 |-- open_credit: string (nullable = true)
 |-- business_or_commercial: string (nullable = true)
 |-- loan_amount: integer (nullable = true)
 |-- rate_of_interest: double (nullable = true)
 |-- Interest_rate_spread: double (nullable = true)
 |-- Upfront_charges: double (nullable = true)
 |-- term: double (nullable = true)
 |-- Neg_ammortization: string (nullable = true)
 |-- interest_only: string (nullable = true)
 |-- lump_sum_payment: string (nullable = true)
 |-- property_value: double (nullable = true)
 |-- construction_type: string (nullable = true)
 |-- occupancy_type: string (nullable = true)
 |-- Secured_by: string (nullable = true)
 |-- total_units: string (nullable = true)
 |-- income: double (nullable = true)
 |-- credit_type: string (nullable = true)
 |-- Credit_Score: integer (nullable = true)
 |-- co-applicant_credit_type: string (nullable = true)
 |-- age: string (nullable = true)
 |-- submission_of_application: string (nullable = true)
 |-- LTV: double (nullable = true)
 |-- Region: string (nullable = true)
 |-- Security_Type: string (nullable = true)
 |-- Status: integer (nullable = true)
 |-- dtir1: double (nullable = true)

In [29]:
df_pyspark.show()

+-----+----+----------+-----------------+-------------+---------+------------+-----------------+-----------+----------------------+-----------+----------------+--------------------+---------------+-----+-----------------+-------------+----------------+--------------+-----------------+--------------+----------+-----------+-------+-----------+------------+------------------------+-----+-------------------------+-----------+-------+-------------+------+-----+
|   ID|year|loan_limit|           Gender|approv_in_adv|loan_type|loan_purpose|Credit_Worthiness|open_credit|business_or_commercial|loan_amount|rate_of_interest|Interest_rate_spread|Upfront_charges| term|Neg_ammortization|interest_only|lump_sum_payment|property_value|construction_type|occupancy_type|Secured_by|total_units| income|credit_type|Credit_Score|co-applicant_credit_type|  age|submission_of_application|        LTV| Region|Security_Type|Status|dtir1|
+-----+----+----------+-----------------+-------------+---------+------------+-----------------+-----------+----------------------+-----------+----------------+--------------------+---------------+-----+-----------------+-------------+----------------+--------------+-----------------+--------------+----------+-----------+-------+-----------+------------+------------------------+-----+-------------------------+-----------+-------+-------------+------+-----+
|24890|2019|        cf|Sex Not Available|        nopre|    type1|          p1|               l1|       nopc|                 nob/c|     116500|            null|                null|           null|360.0|          not_neg|      not_int|        not_lpsm|      118000.0|               sb|            pr|      home|         1U| 1740.0|        EXP|         758|                     CIB|25-34|                  to_inst|98.72881356|  south|       direct|     1| 45.0|
|24891|2019|        cf|             Male|        nopre|    type2|          p1|               l1|       nopc|                   b/c|     206500|            null|                null|           null|360.0|          not_neg|      not_int|            lpsm|          null|               sb|            pr|      home|         1U| 4980.0|       EQUI|         552|                     EXP|55-64|                  to_inst|       null|  North|       direct|     1| null|
|24892|2019|        cf|             Male|          pre|    type1|          p1|               l1|       nopc|                 nob/c|     406500|            4.56|                 0.2|          595.0|360.0|          neg_amm|      not_int|        not_lpsm|      508000.0|               sb|            pr|      home|         1U| 9480.0|        EXP|         834|                     CIB|35-44|                  to_inst|80.01968504|  south|       direct|     0| 46.0|
|24893|2019|        cf|             Male|        nopre|    type1|          p4|               l1|       nopc|                 nob/c|     456500|            4.25|               0.681|           null|360.0|          not_neg|      not_int|        not_lpsm|      658000.0|               sb|            pr|      home|         1U|11880.0|        EXP|         587|                     CIB|45-54|                 not_inst| 69.3768997|  North|       direct|     0| 42.0|
|24894|2019|        cf|            Joint|          pre|    type1|          p1|               l1|       nopc|                 nob/c|     696500|             4.0|              0.3042|            0.0|360.0|          not_neg|      not_int|        not_lpsm|      758000.0|               sb|            pr|      home|         1U|10440.0|       CRIF|         602|                     EXP|25-34|                 not_inst|91.88654354|  North|       direct|     0| 39.0|
|24895|2019|        cf|            Joint|          pre|    type1|          p1|               l1|       nopc|                 nob/c|     706500|            3.99|              0.1523|          370.0|360.0|          not_neg|      not_int|        not_lpsm|     1008000.0|               sb|            pr|      home|         1U|10080.0|        EXP|         864|                     EXP|35-44|                 not_inst|70.08928571|  North|       direct|     0| 40.0|
|24896|2019|        cf|            Joint|          pre|    type1|          p3|               l1|       nopc|                 nob/c|     346500|             4.5|              0.9998|         5120.0|360.0|          not_neg|      not_int|        not_lpsm|      438000.0|               sb|            pr|      home|         1U| 5040.0|        EXP|         860|                     EXP|55-64|                  to_inst|79.10958904|  North|       direct|     0| 44.0|
|24897|2019|      null|           Female|        nopre|    type1|          p4|               l1|       nopc|                 nob/c|     266500|           4.125|              0.2975|        5609.88|360.0|          not_neg|      not_int|        not_lpsm|      308000.0|               sb|            pr|      home|         1U| 3780.0|        CIB|         863|                     CIB|55-64|                  to_inst|86.52597403|  North|       direct|     0| 42.0|
|24898|2019|        cf|            Joint|        nopre|    type1|          p3|               l1|       nopc|                 nob/c|     376500|           4.875|              0.7395|         1150.0|360.0|          not_neg|      not_int|        not_lpsm|      478000.0|               sb|            pr|      home|         1U| 5580.0|        CIB|         580|                     EXP|55-64|                  to_inst|78.76569038|central|       direct|     0| 44.0|
|24899|2019|        cf|Sex Not Available|        nopre|    type3|          p3|               l1|       nopc|                 nob/c|     436500|            3.49|             -0.2776|         2316.5|360.0|          not_neg|      not_int|        not_lpsm|      688000.0|               sb|            pr|      home|         1U| 6720.0|        CIB|         788|                     EXP|55-64|                  to_inst|63.44476744|  south|       direct|     0| 30.0|
|24900|2019|        cf|             Male|        nopre|    type2|          p3|               l2|       nopc|                   b/c|     136500|            null|                null|           null|300.0|          neg_amm|      not_int|        not_lpsm|      168000.0|               sb|            pr|      home|         1U| 4020.0|        EXP|         723|                     CIB|55-64|                  to_inst|      81.25|  North|       direct|     1| 44.0|
|24901|2019|        cf|Sex Not Available|        nopre|    type1|          p3|               l1|       nopc|                 nob/c|     466500|           4.375|              0.1871|         1150.0|360.0|          not_neg|      not_int|        not_lpsm|      708000.0|               sb|            pr|      home|         1U| 9540.0|        EXP|         501|                     EXP|35-44|                  to_inst|65.88983051|  south|       direct|     0| 36.0|
|24902|2019|        cf|            Joint|        nopre|    type2|          p3|               l1|       nopc|                   b/c|     206500|            null|                null|           null|360.0|          not_neg|      not_int|        not_lpsm|      258000.0|               sb|            pr|      home|         1U| 3780.0|       CRIF|         884|                     EXP|65-74|                  to_inst|80.03875969|  North|       direct|     1| 51.0|
|24903|2019|        cf|            Joint|        nopre|    type2|          p4|               l1|       nopc|                   b/c|     436500|           3.625|              0.6146|            0.0|360.0|          not_neg|      not_int|        not_lpsm|      508000.0|               sb|            pr|      home|         1U|   null|       CRIF|         520|                     EXP|55-64|                  to_inst|85.92519685|  North|       direct|     0| null|
|24904|2019|        cf|           Female|        nopre|    type1|          p4|               l1|       nopc|                 nob/c|     226500|             4.5|              0.4657|        3953.13|360.0|          not_neg|      not_int|        not_lpsm|      298000.0|               sb|            pr|      home|         1U| 7860.0|        CIB|         773|                     CIB|35-44|                  to_inst|76.00671141|  North|       direct|     0| 39.0|
|24905|2019|        cf|             Male|        nopre|    type1|          p4|               l1|       nopc|                 nob/c|      76500|            null|                null|           null|360.0|          not_neg|      not_int|        not_lpsm|      138000.0|               sb|            pr|      home|         1U| 2220.0|        EXP|         685|                     CIB|45-54|                 not_inst|55.43478261|  North|       direct|     1| 20.0|
|24906|2019|        cf|            Joint|        nopre|    type2|          p1|               l1|       nopc|                   b/c|     356500|            null|                null|           null|360.0|          neg_amm|      not_int|        not_lpsm|      368000.0|               sb|            pr|      home|         1U| 5340.0|       CRIF|         846|                     EXP|25-34|                 not_inst|     96.875|  North|       direct|     1| 44.0|
|24907|2019|        cf|             Male|          pre|    type1|          p3|               l1|       nopc|                 nob/c|     156500|            null|                null|           null|360.0|          neg_amm|      not_int|        not_lpsm|      168000.0|               sb|            pr|      home|         1U| 3120.0|       CRIF|         534|                     CIB|65-74|                  to_inst| 93.1547619|  North|       direct|     1| 44.0|
|24908|2019|        cf|           Female|        nopre|    type1|          p1|               l1|       nopc|                 nob/c|     406500|            4.56|               0.458|          895.0|360.0|          not_neg|      not_int|        not_lpsm|      598000.0|               sb|            pr|      home|         1U| 5340.0|        CIB|         629|                     CIB|45-54|                 not_inst|67.97658863|  North|       direct|     0| 44.0|
|24909|2019|        cf|Sex Not Available|        nopre|    type1|          p4|               l1|       nopc|                 nob/c|     586500|           3.175|             -0.3446|          650.0|360.0|          not_neg|      not_int|        not_lpsm|      748000.0|               sb|            sr|      home|         1U|12540.0|        CIB|         688|                     EXP|55-64|                  to_inst|78.40909091|  south|       direct|     0| 31.0|
+-----+----+----------+-----------------+-------------+---------+------------+-----------------+-----------+----------------------+-----------+----------------+--------------------+---------------+-----+-----------------+-------------+----------------+--------------+-----------------+--------------+----------+-----------+-------+-----------+------------+------------------------+-----+-------------------------+-----------+-------+-------------+------+-----+
only showing top 20 rows

In [30]:
df_pyspark.groupBy('Gender').max().show()

+-----------------+-------+---------+----------------+---------------------+-------------------------+--------------------+---------+-------------------+-----------+-----------------+-----------+-----------+----------+
|           Gender|max(ID)|max(year)|max(loan_amount)|max(rate_of_interest)|max(Interest_rate_spread)|max(Upfront_charges)|max(term)|max(property_value)|max(income)|max(Credit_Score)|   max(LTV)|max(Status)|max(dtir1)|
+-----------------+-------+---------+----------------+---------------------+-------------------------+--------------------+---------+-------------------+-----------+-----------------+-----------+-----------+----------+
|Sex Not Available| 173555|     2019|         3346500|                  7.5|                   2.5932|            37604.38|    360.0|           1.0008E7|   578580.0|              900|263.5416667|          1|      61.0|
|           Female| 173559|     2019|         2056500|                  6.5|                   2.0022|            53485.78|    360.0|          6108000.0|   329460.0|              900|    2331.25|          1|      61.0|
|            Joint| 173554|     2019|         2926500|                 7.75|                   2.8854|             38437.5|    360.0|           1.6508E7|   377220.0|              900|    7831.25|          1|      61.0|
|             Male| 173557|     2019|         3576500|                  8.0|                    3.357|             60000.0|    360.0|          8508000.0|   335880.0|              900|220.3629032|          1|      61.0|
+-----------------+-------+---------+----------------+---------------------+-------------------------+--------------------+---------+-------------------+-----------+-----------------+-----------+-----------+----------+

In [31]:
df_pyspark.groupBy('loan_type').sum().show()

+---------+-----------+---------+----------------+---------------------+-------------------------+--------------------+----------+-------------------+-----------+-----------------+------------------+-----------+----------+
|loan_type|    sum(ID)|sum(year)|sum(loan_amount)|sum(rate_of_interest)|sum(Interest_rate_spread)|sum(Upfront_charges)| sum(term)|sum(property_value)|sum(income)|sum(Credit_Score)|          sum(LTV)|sum(Status)|sum(dtir1)|
+---------+-----------+---------+----------------+---------------------+-------------------------+--------------------+----------+-------------------+-----------+-----------------+------------------+-----------+----------+
|    type3| 1461512713| 29749965|      5007887500|   39805.130000000325|      -1007.0949000000019| 2.915294928000004E7| 5155546.0|          5.32526E9| 4.839204E7|         10289460|1114599.6120457398|       3692|  313740.0|
|    type1|11227716479|228496287|     38884764500|    359664.7499999796|       37077.368299999995| 2.969427020199926E8|3.741636E7|        5.556794E10|  8.45064E8|         79223822| 7004661.888660433|      25775| 3749966.0|
|    type2| 2062477223| 41918478|      5334623000|    54557.91500000171|       13408.851900000041| 2.551922638999998E7| 7239109.0|         5.611426E9| 7.723188E7|         14524364|1597628.2982936897|       7172|  635893.0|
+---------+-----------+---------+----------------+---------------------+-------------------------+--------------------+----------+-------------------+-----------+-----------------+------------------+-----------+----------+

In [32]:
df_pyspark.groupBy('loan_amount').mean().show()

+-----------+------------------+---------+----------------+---------------------+-------------------------+--------------------+------------------+-------------------+------------------+-----------------+------------------+-------------------+------------------+
|loan_amount|           avg(ID)|avg(year)|avg(loan_amount)|avg(rate_of_interest)|avg(Interest_rate_spread)|avg(Upfront_charges)|         avg(term)|avg(property_value)|       avg(income)|avg(Credit_Score)|          avg(LTV)|        avg(Status)|        avg(dtir1)|
+-----------+------------------+---------+----------------+---------------------+-------------------------+--------------------+------------------+-------------------+------------------+-----------------+------------------+-------------------+------------------+
|     586500|  96248.1960375391|   2019.0|        586500.0|    3.944122137404581|      0.21576068702290088|  3416.7005598958335| 351.4786235662148|  829804.7673098751| 10623.55353075171|696.6308654848801| 75.14726874794557|0.18039624608967675|          38.11875|
|     476500|  97129.3018469657|   2019.0|        476500.0|    3.910778145695352|      0.19547799867461899|  3114.3042112389976|345.87117212249206|   682165.202108963|  9543.22033898305|702.1963060686015| 74.82961623406565|0.20369393139841688| 37.39495268138801|
|     756500| 94551.59854014599|   2019.0|        756500.0|    3.890316455696203|     0.058117721518987336|  4915.2773333333325|337.83941605839414| 1433294.1176470588|           15225.0|694.7226277372263|63.229364510588226| 0.4233576642335766|35.300970873786405|
|    1356500|          104502.0|   2019.0|       1356500.0|              3.90375|                   0.0958|          18474.6875|             342.0| 2235142.8571428573|           22578.0|            717.4|63.300689177142864|                0.6|32.285714285714285|
|    2396500|           39495.0|   2019.0|       2396500.0|                 null|                     null|                null|             360.0|          2298000.0|           54780.0|            869.0|       104.2863359|                1.0|              22.0|
|     816500| 99571.81690140846|   2019.0|        816500.0|    3.927916666666667|      0.18743958333333333|   5781.685833333334|355.77464788732397| 1220580.6451612904|13694.516129032258|710.5492957746479| 70.76883635725804|  0.323943661971831| 35.64150943396226|
|     616500| 98084.89312039311|   2019.0|        616500.0|    3.951321483771252|      0.21580263157894727|   2705.995669291338|352.64373464373466|  872068.0272108844|10336.684931506848|701.1216216216217| 75.46211977798636|0.20638820638820637|38.806748466257666|
|      26500| 96228.03703703704|   2019.0|         26500.0|   4.8100000000000005|       1.5181666666666667|   635.2309090909092| 348.8888888888889|  81478.26086956522|            1980.0|713.1481481481482| 49.77324610956521| 0.5555555555555556|32.391304347826086|
|    1936500|           80972.0|   2019.0|       1936500.0|                 null|                     null|                null|             360.0|          4508000.0|           15000.0|            892.0|       42.95696539|                1.0|               7.0|
|    1636500|          114273.5|   2019.0|       1636500.0|                  4.5|                   0.1941|              409.62|             360.0|          2408000.0|           32190.0|            765.5|       68.43304048|                0.5|              34.0|
|     116500| 98434.36970205622|   2019.0|        116500.0|   4.3201287425149495|        0.892336303431667|  2673.1713739987645| 312.6955060898782| 193227.70398481973| 3560.136460554371|695.7603860679816|  69.4112180715352| 0.3029794376835921| 36.96135265700483|
|     686500| 101143.6906710311|   2019.0|        686500.0|    4.024948559670783|       0.2484376543209876|   3234.285450733753|353.08674304418986|    972566.78700361|11848.817204301075|701.3306055646481|  74.9315848429061|0.20458265139116202| 38.78842315369261|
|     746500|100174.42528735632|   2019.0|        746500.0|   3.9405555555555556|      0.08695555555555555|   4970.115238095238|             352.0| 1171037.9746835444|13368.311688311689|706.2183908045977| 69.95149638911391|0.27586206896551724| 37.20289855072464|
|     126500| 98724.85668688158|   2019.0|        126500.0|    4.272444046553238|       0.8329910193084871|  2778.2187975858837| 315.0622804215906| 226263.49431818182| 3883.577289136856|698.0357484838813| 67.14326438843209|0.28917969996808174| 37.23031856462834|
|      66500|100884.47613504075|   2019.0|         66500.0|    4.404129158512721|       1.2400299009900992|  2014.2921041666666| 313.2027972027972|  137320.9054593875| 2695.242603550296|696.0128055878929| 66.32978549470705| 0.4121071012805588|  36.1438263229308|
|    1416500|           98698.5|   2019.0|       1416500.0|   3.9133333333333336|                   0.0788|             6812.23|             360.0|          2980500.0|           21420.0|            715.0|       52.15067018|               0.25|             34.75|
|    1346500|108225.16666666667|   2019.0|       1346500.0|              3.96625|      0.30347499999999994|            2642.575|             345.0| 2054363.6363636365|           17700.0|733.3333333333334|  69.6579709790909| 0.6666666666666666|              42.0|
|    1966500|          108089.0|   2019.0|       1966500.0|                 null|                     null|                null|             360.0|          2378000.0|           32580.0|            671.0|       82.69554247|                1.0|              26.0|
|     346500| 99769.88464391691|   2019.0|        346500.0|   3.9385298229263523|      0.30272622491833884|  3305.3012660637787|339.60979228486644| 505577.23577235773| 7079.178082191781|699.6535608308606| 74.57944365905261| 0.2051186943620178| 37.77333333333333|
|    1036500|103110.52631578948|   2019.0|       1036500.0|    4.134545454545455|                   0.1568|  5775.4572727272725|347.36842105263156| 1474666.6666666667|20943.157894736843| 704.578947368421|      72.073663808|0.42105263157894735|              34.0|
+-----------+------------------+---------+----------------+---------------------+-------------------------+--------------------+------------------+-------------------+------------------+-----------------+------------------+-------------------+------------------+
only showing top 20 rows

In [33]:
df_pyspark.groupBy('loan_purpose').count().show()

+------------+-----+
|loan_purpose|count|
+------------+-----+
|        null|  134|
|          p2| 3274|
|          p1|34529|
|          p3|55934|
|          p4|54799|
+------------+-----+

In [34]:
df_pyspark.agg({'loan_amount' : 'sum'}).show()

+----------------+
|sum(loan_amount)|
+----------------+
|     49227275000|
+----------------+

In [35]:
import pyspark.sql.functions as fn

df_pyspark.agg(
    fn.count('Region').alias('count'),
    fn.countDistinct('Region').alias('distinct')
).show()

+------+--------+
| count|distinct|
+------+--------+
|148670|       4|
+------+--------+